<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tittle %>
    <%= form.text_field :tittle %>
  </div>

  <div class="field">
    <%= form.label :author_id %>
    <%=collection_select :book, :author_id, Author.all, :id, :name, include_blank: 'Escolha o autor' %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%=collection_select :book, :category_id, Category.all, :id, :name, include_blank: 'Escolha uma categoria' %>
  </div>

  <div class="field">
    <%= form.label :synopsis %>
    <%= form.text_area :synopsis %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
$( document ).on('turbolinks:load', function() {
  $('select').selectize({
    sortField: 'string'
});
} )
</script>

<script>
  $('select').selectize({
    sortField: 'string'
});
</script>
