<%= form_with(model: reservation, local: true) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :book_id %>
    <%=collection_select :reservation, :book_id, Book.all, :id, :tittle, include_blank: "Escolha o Livro" %>
  </div>

  <div class="field">
    <%= form.label :librarian_id %>
    <%=collection_select :reservation, :librarian_id, Librarian.all, :id, :name, include_blank: "Escolha o Bibliotecário" %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%=collection_select :reservation, :user_id, User.all, :id, :name, include_blank: "Escolha o usuário" %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
$( document ).on('turbolinks:load', function() {
  $('select').selectize({
    sortField: 'string'
});
} )
</script>

<script>
  $('select').selectize({
    sortField: 'string'
});
</script>
