<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @reservation.book.tittle %>
</p>

<p>
  <strong>Librarian:</strong>
  <%= @reservation.librarian.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @reservation.user.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @reservation.active %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
